.start-home__description {
  width: 50%;
}
.start-home__picture {
  /* width: 50%; */
  max-width: 850px;
}
.start-home__picture img {
  width: 80%;
}


/* Our History */
.our-history {
  display: flex;
  flex-direction: row-reverse;
}

.popular-product-containers {
  grid-template-columns: repeat(4, auto);
  flex-wrap: wrap;
}