/* Start Home */
.start-home {
  width: 90%;
}
.start-home h1 {
  width: 100%;

  font-size: var(--font-size-xl);
}

/* Qualities */
.qualities {
  grid-template-columns: repeat(2, auto);
}

/* Popular Product Cards */
.popular-product-cards {
  grid-template-columns: repeat(2, auto);
}
.product-card picture img {
  /* width: 100%; */
  height: 200px;
}

/* Reviews */
.reviews {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 4rem;
}

/* Company Information */
.company-information {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}
.company-information div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.company-information div:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.brand-description {
  margin-bottom: 2rem;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  .product-card picture img {
    height: 300px;
  }
}